options:
  telegram:
    botToken: -
    chat_id:  -
    disable_notification: true
servers:
  - default:
    project_name: "default"
    saveDir: "/tmp"
    keepCount: 3
    username: root
    hostname: 127.0.0.1
    port: 22
    mysql:
      container: "mysql"
      user: "root"
      pass: "root"
      database: "databaseName"
      port: 3306

